


.root {
  flex: 842;
  height: 220px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
}

.top {
  display: flex;
  height: 110px;
  align-items: center;
}

.divider{
  height: 1px;
  background-color: #e0e0e0;
}

.bottom {
  height: 110px;
  display: flex;
  align-items: center;
}

.saleIconUrl{
  height: 110px;
  border-radius: 4px;
}
  
.campaignTitleBox{
  padding-left: 24px;
}

.campaignType{
  font-family: OpenSans;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.38);
  padding-bottom: 4px;
}

.campaignTitle{
  display: flex;
}

.campaignTitleText{
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

.campaignStatus{
  margin-left: 8px;
  padding-left: 8px;
  height: 24px;
  border-radius: 40px;
  background-color: #fff2ee;
  display: flex;
  align-items: center
}

.campaignStatusOval{
  width: 6px;
  height: 6px;
  background-color: #ff5722;
  border-radius: 6px;
}

.campaignStatusText{
  font-family: OpenSans;
  font-size: 12px;
  font-weight: 600;
  color: #ff5722;
  padding: 3px 8px 4px 6px;
}

.campaignPropItem{
  display: block;
  padding: 0px 26px 0px;
}

.campaignPropItemTop{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.38);
}

.campaignPropItemBottom{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}