
@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
}

.top {
    display: flex;
  }
  