


.root {
  width: 308px;
  height: 220px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  margin-left: 40px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
}
  

.top {
  display: flex;
  height: 80px;
  align-items: center;
}

.bottom {
  height: 140px;
  display: block;
  align-items: center;
}

.statusTitle{
  padding-top: 16px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

.statusDescription{
  padding-left: 15px;
  padding-top: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}

.statusButton{
  height: 32px;
  border-radius: 4px;
  background-color: #42b549;
  margin: 15px 15px 0;
  text-align: center;
  line-height: 30px;
}